.MyClass{
    border: 2px solid black;
    max-width: 100%;
    /* max-height: 70vh; */
    /* padding-top: 20vh; */
    overflow-x: scroll;
    overflow-y: scroll;

    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

